@import "components/style";

.home {
  display: flex;
  flex-direction: column;

  height: 100vh;
  background-color: $COLOR_4;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid white;
    border-radius: 16px;
    width: 80%;
    height: 80%;
    display: flex;
    overflow: hidden;
  }
}
